
*{
  box-sizing: border-box;
}

:root {
  --grid-cols: ;
  --grid-rows: ;
}


* {
  box-sizing: border-box;
}


/* Wrapper for entire content, flexBox */ 
.wrapper{
  display: flex; 
  flex-wrap: wrap; 
  margin: auto; 
  justify-content: space-evenly; 
}

h1 {
  display: block;
  margin: 0 auto; 
  padding: 1em; 
  text-align: center; 
}

/* Using CSS:grid for the rows and columns number, psuedo selectors used in CSS */ 

#container {
  display: grid;
  grid-gap: 1em; 
  align-self: center; 
  grid-template-rows: repeat(var(--grid-rows), 1em);
  grid-template-columns: repeat(var(--grid-cols), 1em);
  margin: 2em; 
 
}

.grid-item {
  display:flex;
  padding: 1em;
  margin: 0;
  border: 0.15em solid #ddd;
  text-align: center;
}


/* Toggle bar starts here */ 
/* Toggle bar for selecting colors, grid size and other toggle effects. */

.toggleBar{
  display: block;
}

.grid-size-selector {
  height: 2em;
  width: auto; 
  margin: 2em; 
  text-align: center;
  padding: 0.5em; ;
}

#grid-size-selector50{
  background-color: red;
}

