@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
  box-sizing: border-box;
}

body {
  background-color: #5C2686;
  color: white;
  font-family: 'Oswald', sans-serif;
}



/* Wrapper for entire content, flexBox */ 
.wrapper{
  display: flex; 
  flex-wrap: wrap; 
  margin: auto; 
  justify-content: space-evenly;
  align-items: center; 
}

h1 {
  display: block;
  margin: 0 auto; 
  padding: 1em; 
  text-align: center; 
}

/* Using CSS:grid for the rows and columns number, psuedo selectors used in CSS */ 

#container{
  margin-top: 50px;
  display: inline-grid;
  border: 5px solid goldenrod;
  border-radius: 5px;
  height: 575px;
  width: 575px;
  background-color: gray;
}

.grid-item {
  border: 1px solid #ddd;
  display: inline-block;
  overflow: hidden;
  background-color: white;
}


/* Toggle bar starts here */ 
/* Toggle bar for selecting colors, grid size and other toggle effects. */

.toggleBar{
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-color: goldenrod;
  border-radius: 2em;
  width: auto;
  padding: 2em; 
  text-align: center;
  height: 575px;
}

#color-selector {
  position: relative;
  margin: 2em auto;
}

#grid-size-selector {
  position: relative;
  margin: 2em auto;
}

#eraser-btn {
  margin: 2em;
}

#resetbtn { 
  margin: 2em;
}